/* Override carousel height */
.carousel .carousel-item {
    height: 500px;
  }

  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      max-height: 500px;
  }
  /* End carousel styles */