html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* Override carousel height */
.carousel .carousel-item {
    height: 500px;
  }

  .carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    max-height: 500px;
  }
  /* End carousel styles */

  /* How to hire section */
  p.instruction {
    font-size: 20px;
    font-weight: bold;
  }

  ol li.simple-step {
    font-size: 17px;
    color: blue;
  }

  ol ul li {
    color: black;
  }